.paragraph{
    text-align: center;
    font-size: 30px;
    font-family:sans-serif;
    color: black;
}
.paragraph2{
    text-align:center;
    font-size: 80px;
    font-family: nos;
    color: black;
}
.menu-bar
{
text-align:center;
background-color: #000000;
}
.menu-bar ul
{
   display: inline-flex;
   color:floralwhite
}
.menu-bar ul li
{
    font-family: Impact;
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover
{

    background: floralwhite;
    color: #000000;
    border-radius:3px;
}
.paragraph5{
    font-size: 25px;
    font-weight: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}



.lets-go-btn{
    color: rgb(33, 23, 2);
    background: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: -15px; 
    margin-left: 40%;
}
.lets-go-btn:hover{
    background: rgb(129, 25, 25);
}

.icons{
    display: flex;
    font-size: 3rem;
    margin-top:0;
    line-height: 0;
    align-items: flex-end;
    display: flex;
    gap: 1px;
    justify-content: center;

}

.icons a { margin-right:75px; }

.icons :hover{
    transform: scale(1.5);
}

.footer{
    background-color:black;
    margin-top:28%;
}
.p1{
    color: floralwhite;
    font-size: larger;
    padding-bottom: 10px;

}